<div class="container scroll">


    <mat-card>
        <form #form="ngForm">
             
        <mat-card-header>
            <mat-card-title>Add Member </mat-card-title>
          </mat-card-header>
        <mat-tab-group>
            <mat-tab label="Collection Detail">
                <mat-card-content>
                    <div class="row">
                      
                        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="getAllMcc($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="PlantList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterPlantList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterPlantList" [value]="item.Plant_Code">
                                        {{item.Plant_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="getBmcAll($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="MccList" [placeholder]="'Filter'" [displayMember]="'MCC_Name'" (filteredReturn)="filterMccList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterMccList" [value]="item.MCC_Code">
                                        {{item.MCC_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="getAllRoute($event)"   placeholder="BMC">
                                    <mat-select-filter [array]="BmcList" [placeholder]="'Filter'" [displayMember]="'Center_Name'" (filteredReturn)="filterBmcList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterBmcList" [value]="item.Center_Code">
                                        {{item.Center_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select   placeholder="Route">
                                    <mat-select-filter [array]="RouteCodeList" [placeholder]="'Filter'" [displayMember]="'Route_Name'" (filteredReturn)="filterRouteCodeList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterRouteCodeList" [value]="item.Route_Code">
                                        {{item.Route_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Mpp">
                                    <mat-select-filter [array]="MppList" [placeholder]="'Filter'" [displayMember]="'Society_Name'" (filteredReturn)="filterMppList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterMppList" [value]="item.Society_Code">
                                        {{item.Society_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
        
                     </div>
        
                    
                  </mat-card-content>
            </mat-tab>
            <mat-tab label="Personal Detail"> 
                 <mat-card-content>
                <div class="row">
                    
                  
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <mat-form-field>
                            <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                    {{item.StateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                   
    
                 </div>
    
                
              </mat-card-content>
             </mat-tab>
            <mat-tab label="Contact Detail"> 
                <mat-card-content >
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
        
                     </div>
        
                    
                  </mat-card-content>
            </mat-tab>

            <mat-tab label="Bank Detail">
                <mat-card-content >
                    <div class="row">
                        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
        
                     </div>
        
                    
                  </mat-card-content>
            </mat-tab>

            <mat-tab label="SubsCription Detail">
                <mat-card-content>
                    <div class="row">
                       
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
        
                     </div>
        
                    
                  </mat-card-content>
            </mat-tab>



          <mat-tab label="Optional">

        <mat-tab-group>
            <mat-tab label="Cattle Details">
                <mat-card-content>
                    <div class="row">
                        
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    

                    </div>

                    
                </mat-card-content>

            </mat-tab>


            <mat-tab label="Family Details">
                <mat-card-content >
                    <div class="row">
                    
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    

                    </div>

                    
                </mat-card-content>
            </mat-tab>


            <mat-tab label="Payment Details">
                <mat-card-content >
                    <div class="row">
                    
                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Plant">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MCC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="BMC">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-2">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="Route">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select (selectionChange)="GetAllDistrict($event)"  placeholder="MPP">
                                    <mat-select-filter [array]="StateList" [placeholder]="'Filter'" [displayMember]="'StateName'" (filteredReturn)="filterStateList =$event"></mat-select-filter>
                                    <mat-option *ngFor="let item of filterStateList" [value]="item.StateId">
                                        {{item.StateName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    

                    </div>

                    
                </mat-card-content>
            </mat-tab>


        </mat-tab-group>
          </mat-tab>
          </mat-tab-group>
        <mat-card-actions align="end">
      <button (click)="close()"  mat-button>Cancle</button>
          <button (click)="OnSaveMpp()" mat-button>{{btnTxt}}</button> 
        </mat-card-actions>
    </form>
      </mat-card>


      
</div>