<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-10">
                <div class="car-title">Truck Arrival </div>
            </div>
            <div class="col-sm-2 text-right">
                <mat-icon (click)="OpenTruckeDialog()" style="color: navy;">add</mat-icon>
            </div>
        </div>
        
    </div>


        
                
        
 
    <div class="card-body">
  
        
  
  
      <div class="row">
        <div class="col col-md-12">
          <div>
            <div class="table-responsive">
              <table style="width: 100%;" class="table  table-bordered table-hover row-table hover table-lg">
                <thead>
                  <tr>
                    <th style="text-transform:capitalize;">SNo.</th>
                    <th style="text-transform:capitalize;">Arrival_Delay</th>
                    <th style="text-transform:capitalize;">Arrival_Time</th>
                    <th style="text-transform:capitalize;">Dump_Date</th>
                    <th style="text-transform:capitalize;">Route_Name</th>
                    <th style="text-transform:capitalize;">Shift</th>
                    <th style="text-transform:capitalize;">Truck_No</th>
                    <th style="text-transform:capitalize;">Schedule_Time</th>
                    
                    <th style="text-transform:capitalize;" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>


                                  <tr *ngFor="let Data Of DockList| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index">
                    <td>{{ pageSize *(page-1) + i+ 1}}</td>
                    <td>{{Data.Arrival_Delay}}</td>
<td>{{Data.Arrival_Time}}</td>
<td>{{Data.Dump_Date}}</td>
<td>{{Data.Route_Name}}</td>
<td>{{Data.Shift}}</td>
<td>{{Data.Truck_No}}</td>
<td>{{Data.Schedule_Time}}</td>
                    <td><mat-icon style="color: navy;">add</mat-icon>
                      
                    </td>
  
                  </tr>
                </tbody>
              </table>
            </div>
            <ngb-pagination *ngIf="DockList.length>0" [collectionSize]="DockList.length" [(page)]="page"
                [pageSize]="pageSize" [maxSize]="5" class="d-flex justify-content-center"></ngb-pagination>
          
                
              </div>
        </div>
      </div>
  
  
      
  
  
  
  
    </div>
  </div>