<div class="card"  *ngIf="notLoading;else loaded">

  <div class="card-body">
   
      <div class="row">
        <div class="col col-md-6">
          <h3>Add User</h3>
          <mat-form-field>
            <input matInput [(ngModel)]="filterUserName" [ngModelOptions]="{standalone: true}" placeholder="Filter">
          </mat-form-field>
        </div> 

        <div class="col col-md-6 text-right mb-3">
          <button class="btn btn-primary">
          <mat-icon (click)="openDialog()">add</mat-icon>
          </button>
        </div>
      </div>
     
    
    <div class="row">
      <div class="col col-md-12">
        <div *ngIf="UserList!=null">
          <div class="table-responsive">
            <table  style="width: 100%;" class="table  table-bordered table-hover row-table hover table-lg">
              <thead>
                <tr>
                  <th style="text-transform:capitalize;">SNo.</th>
                  <th style="text-transform:capitalize;">User Name</th>
                  <th style="text-transform:capitalize;">Mobile</th>
                  <th style="text-transform:capitalize;">MCC</th>
                  <th style="text-transform:capitalize;">Bmc</th>
                  <th style="text-transform:capitalize;">Is Active</th>
                  <th  style="text-transform:capitalize;" class="text-center">Action</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of filterUserList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index">
                  <td>{{ pageSize *(page-1) + i+ 1}}</td>
                  <td>{{data.USERNAME}}</td>
                  <td>{{data.mobno}}</td>
                  <td>{{data.mcccode}}</td>
                  <td>{{data.bmccode}}</td>
                  <td>{{data.IsActive==1?'Active':'In-Active'}}</td>
                  <td><mat-icon (click)="onEditUser(data)" style="color: navy;">edit</mat-icon>
                    <mat-icon style="color: red;">delete</mat-icon></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          <ngb-pagination *ngIf="filterUserList.length>0" [collectionSize]="filterUserList.length" [(page)]="page"
            [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
        </div>
      </div>
    </div>
    
    
     
   
  </div>
</div>

<ng-template #loaded>
  <app-spinner></app-spinner>
</ng-template>







  
  
 