<div class="card">
    <div class="card-header">
        <div class="card-title"></div>
    </div>

    <div class="card-body">
        <div class="row">

            <div class="col-md-4">
                <mat-form-field>
                    <mat-select  placeholder="Type">
                        <mat-option>
                            Type
                        </mat-option>

                        <mat-option>
                            B
                        </mat-option>

                        <mat-option>
                            C
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field>
                    <mat-select  placeholder="Mpp">
                        <mat-select-filter [array]="MppList" [placeholder]="'Filter'" [displayMember]="'Society_Name'" (filteredReturn)="filterMppList =$event"></mat-select-filter>
                        <mat-option *ngFor="let item of filterMppList" [value]="item.Society_Code">
                            {{item.Society_Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field>
                    <input [(ngModel)]="formData.Sample_ID" #Sample_ID="ngModel" name="Sample_ID"   matInput placeholder="Sample">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </div>

              <div class="col-md-3">
                <mat-form-field>
                    <input [(ngModel)]="formData.Grade" #Grade="ngModel" name="Grade"   matInput placeholder="QTY">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field>
                    <input [(ngModel)]="formData.Fat" #Fat="ngModel" name="Fat" matInput placeholder="Fat">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field>
                    <input [(ngModel)]="formData.SNF" #SNF="ngModel" name="SNF" matInput placeholder="SNF">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field>
                    <input [(ngModel)]="formData.SNF" #SNF="ngModel" name="SNF" matInput placeholder="CAN">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </div>


             
             
        </div>

       <div class="row">
        <div class="col-3 col-sm-3">
            <button (click)="onSaveLabCollection()"   class="btn btn-primary">Save</button>
        </div>

        <div class=" col-3 col-sm-3 text-right">
            <button (click)="close()" class="btn btn-primary">Close</button>
        </div>
       </div> 
    </div>
</div>


